@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  background-color: white;
  width: 400px;
  height: 650px;
}
h1 {
  font-size: 800%;
}
.lowerSuit {
  transform: rotatex(180deg);
}
